@import "font-awesome";

html, body {
  font-size: 18px;
  scroll-behavior: smooth;
  font-family: 'Poppins',Arial , Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  @media #{$info-tablet-horizontal} {
    font-size: 15px;
  }
  @media #{$info-tablet-vertical} {
    font-size: 14px;
  }
  @media #{$info-phone} {
    font-size: 12px;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
