.resources {
  position: relative;
  margin-bottom: 165px;
  @media #{$info-tablet-horizontal} {
    overflow: hidden;
    margin-bottom: 100px;
  }
  @media #{$info-phone} {
    margin-bottom: 60px;
  }
  .container {
    position: relative;
    h2, form {
      max-width: 820px;
      margin: 0 auto;
      transform: translateX(-30px);
      @media #{$info-tablet-horizontal} {
        transform: translateX(0);
      }
    }
    h2 {
      font-size: 60px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 90px;
      @media #{$info-phone} {
        font-size: 40px;
        margin-bottom: 40px;
      }
      @media #{$info-phone-vertical} {
        font-size: 30px;
      }
    }
    form {
      @include flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
      @media #{$info-phone} {
        flex-wrap: wrap;
        margin-bottom: 0;
      }
      input {
        max-width: 560px;
        width: 100%;
        padding: 20px 0 20px 70px;
        font-size: 16px;
        border: none;
        border-radius: 50px;
        box-shadow: 8px 8px 10px 2px rgba(113,113,113,0.14);
        @include placeholder {
          background-image: -webkit-linear-gradient(#ff5f6d, #ffc371);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 700;
          transition: all .3s ease;
        }
        &:hover {
          @include placeholder {
            transform: translateX(5px);
          }
        }
        &:focus {
          outline: none;
        }
        @media #{$info-phone} {
          max-width: unset;
          margin-bottom: 40px;
        }
      }
      .button {
        background-image: linear-gradient(to bottom right,$background-button-end,$background-button-start);
        font-size: 16px;
        font-weight: 700;
        padding: 25px 52px;
        border-radius: 50px;
        margin: 0 auto;
      }
    }
    .resources__image {
      margin-left: 25px;
      @media #{$info-phone} {
        margin-left: 0;
      }
    }
  }
  .resources__background {
    display: block;
    position: absolute;
  }
  .background--1 {
    left: 60px;
    top: -230px;
    transform: rotate(4deg);
    @media #{$info-tablet-horizontal} {
      top: 135px;
      left: 15px;
    }
    @media #{$info-phone} {
      top: 150px;
      left: -50px;
    }
  }
  .background--2 {
    left: 0;
    top: -175px;
    @media #{$info-tablet-horizontal} {
      top: -50px;
      left: -50px;
    }

  }
  .background--3 {
    right: 0;
    bottom: -120px;
    @media #{$info-tablet-horizontal} {
      right: -90px;
    }
  }
}